
{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS API portal
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<a href="index.html" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Reset your password</h1>

      <p>Enter the email address associated with your account.</p>

      <p>We'll send you a link to reset your password, which will expire in one hour.</p>

      <form action="reset" method="post" novalidate>



        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="">
            Email address
          </label>
          <input class="govuk-input" id="" name="" type="text" aria-describedby="">
        </div>


        <button type="submit" class="govuk-button">
          Send password reset email
        </button>

      </form>

      <p>Not registered? <a href="sign-in">Register for an account</a>
      </p>
    </div>
  </div>
</main>
</div>

{% endblock %}
