
{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS API portal
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        HM Courts &amp; Tribunals Service API portal
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>




      <h2 class="govuk-heading-m">Overview</h2>

      <p>This API lorem ipsum dolor sit amet, consectetepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
      </ul>

      <a href="register.html" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Register for an account</a>
      <p class="govuk-body govuk-!-margin-bottom-6">or <a href="sign-in">sign in</a> to your developer account
      </p>

      <div class="govuk-inset-text">
  This is a sandbox environment.
</div>
    </div>
</div>

{% endblock %}
