
{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS API portal
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Password reset email sent</h1>

    </div>

    <p>
      We have sent you a password reset email to <strong>email@address.com</strong>.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>If this email address is registered with the HMCTS API portal, you will get a password reset link.</p>


  </div>
</div>

{% endblock %}
