
{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS API portal
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<a href="index.html" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="account" method="post" novalidate>

        <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Sign in
    </h1>
  </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Email address
          </label>
          <input class="govuk-input" id="" name="" type="text" aria-describedby="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Password
          </label>
          <input class="govuk-input" id="" name="" type="text" aria-describedby="">
        </div>

        <p><a href="forgot-password">I've forgotten my password</a></p>
        <button type="submit" class="govuk-button">
          Sign in
        </button>

      </form>

      <p>Not registered? <a href="register">Register for an account</a>
      </p>
    </div>
  </div>
</main>
</div>

{% endblock %}
