
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<a href="index.html" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sign in</h1>

      <form action="account" method="post" novalidate>



        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="">
            Email address
          </label>
          <input class="govuk-input" id="" name="" type="text" aria-describedby="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="">
            Confirm password
          </label>
          <input class="govuk-input" id="" name="" type="text" aria-describedby="">
        </div>

        <button type="submit" class="govuk-button">
          Sign in
        </button>

      </form>

      <p>Not registered? <a href="sign-in">Register for an account</a>
      </p>
    </div>
  </div>
</main>
</div>

{% endblock %}
